<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <% if(results.length===0) {%>
            <div class="noRes">
                <p>No Results found for give coordinates. <a href="/addSchool">Want to add a new school?</a></p>
            </div>
            <% } else {%>
                <div class="row mt-3">
                    <% for(x of results) {%>
                        <div class="col-lg-4 col-md-6 mb-2">
                            <div class="schoolCard">
                                <p><b>Name:</b>
                                    <%= x.NAME %>
                                </p>
                                <p class="mb-0"><b>Address:</b>
                                    <%= x.Address %>
                                </p>
                            </div>
                        </div>
                        <% } %>

                </div>
                <% }%>
    </body>