<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="row p-2">
            <div class="alert alert-danger col-md-6 mx-auto mt-3" role="alert">
                <h4 class="alert-heading">
                    <%= err.message %>
                </h4>
            </div>
        </div>
    </body>